html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.25;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #fff;
}

nav h1, nav ul { 
    margin: 1vw auto;
}

.nav-margin {
    margin-top: 100px;
}

.flex {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.txt-ctr {
    text-align: center;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

nav.header {
    margin: 0 0 1vw 0;
    background: #fff;
    color: black;
}

nav li {
    list-style: none;
}

nav a {
    color: #000;
}

.header {
    margin: 0;
    padding: 1vw 0;
    background: black;
    color: #fff;
    text-align: center;
}

.card-dark, .card-light {
    width: 85%;
    margin: 5vw auto;
    border: 1px solid black;
}

section {
    padding: 3vw;
    font-size: 20px;
}

section.card-dark {
    background: #363C4A;
    color: #fff;
}

section.card-light {
    background: #E2E4E9;
    color: #000;
}

section .text {
    padding: 0 10vw;
}

section p, section h4, section li {
    margin: 0;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

section h4 {
    text-decoration: underline;
}

img {
    margin: 0 auto;
    display: block;
    width: 100%;
    border-radius: 5px;
    max-width: 1200px;
}

img.large {
    width: 75%;
}

img.medium {
    width: 50%;
}

img.small {
    width: 33%;
}

img.xsmall {
    width: 25%;
}

.border {
    border: 5px;
    border-style: solid;
}

div.border {
    padding-top: 100px;
}

.border1 {
    border-color: violet;
}

.border2 {
    border-color: lime;
}

.border3 {
    border-color: red;
}

.border4 {
    border-color: yellow;
}

.border5 {
    border-color: lightseagreen;
}

.border6 {
    border-color: lightsalmon;
}

@media only screen and (max-width: 767px) {
    section {
        padding: 2vw;
        font-size: 16px;
    }

    img, img.xsmall, img.small, img.medium, img.large {
        width: 100%;
        margin: 0 auto;
    }
}